body{
    margin: 0;
    padding: 0;
    font-family: helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    color: #6cd1ff;
    background: rgb(49,45,119);
    background: linear-gradient(90deg, rgba(49,45,119,1) 49%, rgba(55,22,98,1) 100%, rgba(0,212,255,1) 100%, rgba(9,9,121,1) 100%);
   
}
.container1{
    display: flex;
    width: 100%;
    border-bottom: 3px rgb(110, 61, 202) solid;
    height: 100vh;
}
.right{
    margin-top: 200px;
    font-size: 50px;
    text-align: center;
 
}
.right h2{
    padding-bottom:40px ;
    border-bottom:3px rgb(219, 224, 230) solid;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 3px rgb(110, 61, 202) solid;
    height: 100vh;
    
}
.left1{
    margin-top: 10%;
    width: 40%;
}
.right1{
    margin-top: 10%;
}
.left1 p{
    font-size: 20px;
}
.container3{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 3px rgb(110, 61, 202) solid;
    height: 100vh;
    
}
.right2{
    margin-top: 8%;
    width: 40%;
}
.left2{
    margin-top: 10%;
}
.right2 p{
    font-size: 20px;
}




.page1{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    border-bottom: 3px rgb(110, 61, 202) solid;
}
.textPage{
    width: 50%;
    margin-top: 100px;
}
.imagePage img{
    height: 50%;
}









